*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    max-width: 1440px;
    border: 1px solid red;
}

nav{
    max-width: 1140px;
    max-height: 71px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin: 30px 150px 120px 150px;
    border: 1px solid red;
}
nav ul{
    display: flex;
    gap: 48px;
    
}
nav ul li{
    list-style-type: none;
    font-size: 1rem;
    
     
}
nav ul li a{
    text-decoration: none;
    color: #252432;
    
}
.icon-text a{
    text-decoration: none;
    font-size: 1rem;
    color: #252432;
}
.link-containar{
    display: flex;
    
}
.header-icon-containar{
    display: flex;
    margin-left: 48px;
    gap: 10px;
    align-items: center;
}


/* hero area start */

.hero{
    max-width: 1140px;
    max-height: 355px;
    display: flex;
    margin: 0 auto;
    border: 1px solid black;
}
.hero-title{
    font-size: 4rem;
    font-weight: bold;
    padding: 60px 0 13px 0;
}
.hero-text-color{
    color: #E95A08;
}
.hero-main-img{
    /* max-width: 100%;
  height: auto;
  display: block;
  overflow: hidden; */

}
.hero-des{
    font-size: 1.6rem;
    max-width: 570px;
    max-height: 108px;
    font-weight:400 ;
    color:#000000 ;
    opacity: 43%;
    border: 1px solid red;
}

/* our plants section start */

.our-plants{
    max-width: 1140px;
    max-height: 1187px;
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-top: 226px;
}
.plants-text{
    max-width: 1140px;
    height: 138px;
    margin-bottom: 36px;
    text-align: center;
}
.plant-title{
    font-size: 3.1rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 16px;

}
.plant-des{
    font-size: 1.3rem;
    font-weight: 400;
    color: #000000;
    opacity: 50%;
    text-align: center;
    padding-bottom: 50px;
}
.row{
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.card{
    max-width: 270px;
    max-height: 485px;
    margin-bottom: 30px;
    /* border: 1px solid red; */

}
.card-div-img{
    width: 268px ;
    
}
.card-img{
    width: 100%;
}
.card-title{
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    padding: 20px 0 15px 0;
}
.card-price{
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
}
.card-btn{
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    background-color: #E95A08;
    color: #FFFFFF;
    padding: 19px 80px;
    border-style: none;

}

/* flower plant section start */
.flower-plants-area{
    max-width: 1160px;
    margin-top: 248px;
    margin: 0 auto;
}
.flower-plant{
    
    display: flex;
    gap: 50px;
    margin: 1px solid black;
    

}
.trusted-img{
    width: 286px;
    height: 286px;
}
.flower-text{
    max-width: 510px;
    max-height: 521px;
    padding: 38px 0px;
    letter-spacing: 30%;
    border: 1px solid red;
}
.flower-title{
    font-size: 3.1rem;
    font-weight: bold;
    color: #000000;
}
.flower-des{
    font-size: 1.3rem;
    font-weight: 400;
    color: #000000;
    opacity: 50%;
    padding-top: 20px;
}

/* meadia quari start */

@media screen and (max-width: 576px){
    nav ul li{
        display: none;
    }
    nav{
        margin: 30px 0px 120px 0px ;
    }
    .hero{
     flex-direction: column-reverse;
        height: auto;
    }
    .hero-main-img{
        width: auto;  
    }
    .hero-img{
        margin-top: 100px;
    }
    .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: auto;
    }
}