
.open-sans-normal{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    max-width: 1440px;
    margin: 0 auto;
    
}

nav{
    max-width: 1140px;
    max-height: 71px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin: 30px 150px 120px 150px;
    /* border: 1px solid red; */
}
nav ul{
    display: flex;
    gap: 48px;
    
}
nav ul li{
    list-style-type: none;
    font-size: 1rem;   
}
nav ul li a{
    text-decoration: none;
    color: #252432;
    
}
.icon-text a{
    text-decoration: none;
    font-size: 1rem;
    color: #252432;
}
.link-container{
    display: flex;
    
}
.nav-color{
    color: #8987A1;
}
.header-icon-container{
    display: flex;
    margin-left: 48px;
    gap: 10px;
    align-items: center;
}


/* hero area start */

.hero{
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
}
.hero-title{
    font-size: 4rem;
    font-weight: bold;
    padding: 60px 0 13px 0;

}
.hero-text-color{
    color: #E95A08;
}

.hero-main-img{
    width: 100%;
    margin-top: 50px;
 
}
.hero-des{
    font-size: 1rem;
    max-width: 570px;
    font-weight:400 ;
    color:#000000 ;
    opacity: 43%;
    /* border: 1px solid red; */
}

/* our plants section start */

.our-plants{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 170px;
}
.plants-text{
    max-width: 1140px;
    margin-bottom: 36px;
    text-align: center;
}
.plant-title{
    font-size: 3.1rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 16px;

}
.plant-des{
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    opacity: 50%;
    text-align: center;
    padding-bottom: 50px;
}
.row{
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}
.card{
    max-width: 270px;
    margin-bottom: 30px;
}

.card-div-img{
    width: 100% ;
    
}
.card-img{
    width: 100%;
}
.card-title{
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    padding: 20px 0 15px 0;
}
.card-price{
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
}
.card-btn{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    background-color: #E95A08;
    color: #FFFFFF;
    padding: 19px 0px;
    width: 100%;
    border: none;
    display: block;

}
/* flower plant section start */

.flower-plant{
    max-width: 1140px;
    display: flex;
    gap: 25px;
    margin: 1px solid black;
    margin: 0 auto;
}
.flower-img{
    position: relative;
    display: inline-block;
    width: 100%;

}
.flower-img .flower-pic {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;

}

.trusted-img{
    width: 286px;
    position: absolute;
    top: -18%;
    right: -13%;
    object-fit: cover;
    
}


.flower-text{
    max-width: 510px;
    padding: 38px 10px;
    padding-left: 20px;

    /* border: 1px solid red; */
}
.flower-title{
    font-size: 3.1rem;
    font-weight: bold;
    color: #000000;
}
.flower-title br{
    display: inline;
}
.flower-des{
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    opacity: 50%;
    padding-top: 20px;
    text-align: center;
}



/* latest section start */

.latest-title-area{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 133px;
}
.latest-title{
    font-size: 3.1rem;
    font-weight: bold;
    text-align: center;

}
.latest-des{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: #000000;
    opacity: 50%;
    padding: 16px 0px 120px 0px;
}
.latest-container{
    max-width: 1420px;
    display: flex;
    gap: 20px;
    border-radius: 10px;
    justify-content:center ;
    margin-bottom: 120px;

}

.bloom-plant{
    position: relative;
    overflow: hidden;
   

}
.bloom-plant img{
    /* width: 100%; */
    /* border-radius: 10px; */

}
.ana-plant{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding-top: 20px;

}
.right-img{
     position: relative;
    overflow: hidden;
    border-radius: 10px;
}
#right-img-title{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
}
.right-img-des{
    font-size: 1.7rem;
    font-weight: 500;
    color: white;
    text-decoration: underline;
    text-align: center;
}
.overlay-right{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-size: 1rem;

}
.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
}
.left-img{
    gap: 25px;
}
.overlay h3{
    text-align: center;
}
.overlay p{
    text-decoration: underline;
    text-align: center;
    padding-top: 19px;
}

.none{
    display: none;
}

/* colorful-bunch section start  */


.colorful-bunch{
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/news-letter-bg.png);
}
.colorful-title{
    font-size: 3.1rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 199px 0px 23px 0px;
}
.colorful-style{
     /* padding: 15px 540px 15px 20px; */
    flex: 1;
    padding: 12px;
    border: none;
    outline: none;

}
.colorful-btn{
    font-size: small;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #E95A08;
    padding: 12px ;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.form-contain{
    display: flex;
    max-width: 650px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 193px;

}
/* footer section start */

.footer{
    max-width: 1440px;
    display: flex;
    gap: 70px;
    padding: 0 90px 25px 120px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 50px;
}
.logo-des{
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    opacity: 50%;
    padding-top: 16px;
}

.footer ul li{
    list-style-type: none;
    padding-bottom: 32px;
    
}
.footer ul li a{
    text-decoration: none;
    color: #6B7280;
    font-size: 1rem;
    font-weight:400 ;   
}

.footer .icon-item>img{
    margin-left: 24px;
}


/* media screen start */

@media screen and (max-width: 576px){
   
    /* nav-bar */

    nav ul li{
        display: none;
    }
    .nav-img{
        max-width: 65px;
    }
    nav{
        margin: 30px 20px 30px 20px ;
        align-items: center;
    }

    /* hero-section */

    .hero-text{
        padding: 10px;
    }
    .hero{
     flex-direction: column-reverse;
    
    }
    .hero-main-img{
        width: 100%;  
    }
    .hero-title{
    font-size: 2rem;
    font-weight: bold;

}
    /* Our plants */

    .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: max-content;
        gap: 3px;
    }
    .our-plants{
        padding: 10px;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    .plant-title{
    font-size: 2rem;
    font-weight: bold;

    }
    
    .card{
        padding-left: 3px;
        padding-right: 3px; 
    }

    /* flower and  plants lover */

    .plant-des br{
        display: none;
    }
    .flower-plants-area {
        padding: 10px;

    }
    .flower-title br {
        display: none;
    
    }
    .flower-title{
    font-size: 2rem;
    font-weight: bold;
    }
    .flower-plant{
        flex-direction: column;
    }
    .flower-plant img{
        width: 100%;
    }
    .flower-text{
        align-items: center;
        margin: 0 auto;
    }

    .trusted-img{
        display: none;
    }

    /* latest deal */

    .latest-deals{
        padding: 10px;
    }
    .latest-title{
    font-size: 2rem;
    font-weight: bold;
    }
    
    .latest-deals, .latest-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .latest-des{
        padding: 16px 0 51px 0;
    }
    .latest-des br{
        display: none;
    }
    .latest-container img{
        width: 100%;
    }
    #right-img-title{
        font-size: 1.3rem;
    }
    .right-img-des{
        font-size: 1.2rem;
    }
    
    .bloom-plant, .ana-plant, .right-img{
        height: auto;
    }
    .bloom-plant, .ana-plant, .right-img img{
        height: auto;
    }

    /* colorful bunch */

    .form-contain{
        max-width:max-content;
    }
    .colorful-title{
    font-size: 1rem;
    font-weight: bold;
    }
    .colorful-bunch img{
        object-fit: cover;
    }

    /* footer-section */


    .footer{
        flex-direction: column;
        padding: 10px;
        gap: 0;
        padding-bottom: 30px;
    }
    .logo-des{
        padding-bottom: 20px;
    }
    .footer .icon-item>img{
    margin: 0 15px 0 0;
    
}
}